@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import 'tailwindcss'; 

@theme {
  --font-sans: 'Inter', sans-serif;
  --grid-template-columns-70-30: 70% 30%;
}

/* 4. Any regular CSS goes LAST */
body {
  background-color: #020617; /* A deep, dark navy for the whole page */
}
.fc .fc-col-header-cell-cushion {
  color: #575f6b !important; 
  text-decoration: none !important;
}